################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RidiculousCheat/obj
/RidiculousCheat/bin/Debug
/RidiculousCheat/.vs/RidiculousCheat/v15
